.err {
    color: red;
}

.logo {
    width: 80px;
}

nav {
    display: flex;
    flex-direction: column;
}

.card {
    padding: 2vw 2vh;
    padding-bottom: 0;
}

.productCard {
    width: 300px;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
}

.productCard * {
    color: rgb(0, 57, 127);
}

.productCard:hover {
    transform: scale(1.1);
    transform-origin: 50% 50% 50px;
    transition: all 0.7s 10ms;
}

.productCard:hover * {
    color: rgb(0, 255, 213);
    transition: all 0.7s 10ms;
}

.productContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(196, 231, 231);
}

#primeFlyout {
    width: 200px;
}

.oldrow {
    row-gap: 20px;
    background-color: rgb(196, 231, 231);
}

#foot1 {
    font-size: smaller;
}

#foot2 {
    width: 20%;
}

#foot3 {
    font-size: smaller;
}

a {
    cursor: pointer;
    text-decoration: none !important;
}

@media only screen and (max-width: 350px) {
    #productImage {
        height: 35vh !important;
        width: 70vw !important;
    }
}